{
  "plugins": ["unused-imports"],
  "extends":  [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:json/recommended"
  ],
  "parser":  "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion":  2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "mocha": true
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "unused-imports/no-unused-imports": "error"
  }
}
